h1{
    color:red;
}
#home-intro{
    text-align:center;
    border: 3px;
    border-color: black;
    border-style: solid;
}
#home-intro:hover{
    background-color: lightblue;
}
#p2
{
    color: blue;
}