h1{
    color:red;
}
#home-intro{
    text-align:center;
    border: 3px;
    border-color: black;
    border-style: solid;
}
#home-intro:hover{
    background-color: lightblue;
}
#p2
{
    color: blue;
}
#nav{
    text-align: center;
    background-color:cadetblue;
    height: 25px;
    padding: 5px;
    margin-bottom: 5px;
}
#nav a{
    margin: 0px 5px;
    margin: y-axis x-axis;
    text-decoration: none;
    color: black;
}